.destination-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.destinations .img-tokyo,
.img-osaka {
  width: 100%;
  height: 368px;
  background-size: cover;
}
.destinations .destination-item h4 {
  font-size: 28px;
  font-weight: var(--titles-weights);
  text-align: left;
}
.destinations .img-tokyo {
  background: url(../img/tokyo-mobile.jpg) no-repeat;
}
.img-osaka {
  background: url(../img/osaka-mobile.jpg) no-repeat;
}
.destinations p {
  font-size: 20px;
  font-weight: var(--text-weights);
  text-align: left;
  margin-bottom: 24px;
  line-height: 32px;
}
.destinations .button {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .destinations .img-tokyo {
    background: url(../img/tokyo-tablet-desktop.jpg) no-repeat;
  }
  .img-osaka {
    background: url(../img/osaka-tablet-desktop.jpg) no-repeat;
  }
  .destinations {
    width: 648px;
  }
  .destinations .img-tokyo,
  .img-osaka {
    height: 452px;
    width: 100%;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }
}
@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }
  .destination-item {
    flex-direction: row;
  }
}
