.main-footer {
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 34px;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}
.main-footer .social-networks p{
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: var(--text-secondary-color);
    font-weight: var(--text-weights);
    margin-top: 16px;
}
.main-footer .social-networks {
    text-align: center;
}
@media screen and (max-width: 760px) {
    .main-footer .text-content .content-text{
    line-height: 28px;
    font-size: 16px;
    text-align: center;
    color: var(--text-secondary-color);
    margin-bottom: 8px;
    }
}
@media screen and (min-width: 768px) {
    .main-footer {
        padding: 32px 60px;
        color: var(--text-secondary-color);
    }
    .main-footer .footer-social {
        margin-top: 32px;
    }
}
@media screen and (min-width: 1440px) {
    .main-footer {
        flex-direction: row;
        padding: 52px 120px;
        justify-content: space-between;
    }
    .main-footer .footer-content {
        text-align: left;
        align-items: flex-start;
    }
    .main-footer .footer-social {
        width: 165px;
    }
}
